html {
  font-size: 16px;
}

body {
	background: #f5f5f5;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif;
  gap: 10vh;
  line-height: calc(1.1em + 0.5vw);
  padding: 20vh;
}

@media screen and (max-width: 860px) {
  body {
    padding: 20vh 5vh;
  }
}

::selection {
  background-color: #ffcb0c;
  color: #1a1a1a;
}

svg {
  margin-bottom: -40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  max-width: 36em;
}

h1 {
  display: inline;
  font-size: 2.5em;
}

p {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  h1 {
    line-height: 1.15em;
  }
}

p {
  font-size: 1em;
}

/* fluid typography functions by Indrek Paas @indrekpaas */

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(2.25em + 20 * (100vw - 320px) / 660);
  }

  p {
    font-size: calc(1em + 2 * (100vw - 320px) / 660);
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 3.75em;
  }

  p {
    font-size: 1.125em;
  }
}

.dark-grey-text{
  color: darkgrey;
}

.grey-text, .grey-text a {
  color: grey;
}

.yellow-text {
  color: #ffcb0c;
}

.skills-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: calc(1.1em + 0.5vw);
}

.skills-row i {
  width: 1em;
}

#experience li {
  transition: all 200ms ease-out;
}

#experience li:hover {
  border-left: 0.25em solid #ffcb0c;
  padding-left: 0.75em;
}

#contact {
  display: flex;
  gap: 4vw;
}

#contact a:hover {
  color: #ffcb0c;
}

a {
	color: #1a1a1a;
}

a:hover {
  color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
    color: #c0c0c0;
  }

  a {
    color: #c0c0c0;
  }

  a:hover  {
    color: #f0f0f0;
  }

  svg {
    fill: #ffcb0c;
  }

  .dark-grey-text {
    color: #5c5c5c;
  }
}
